body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E5E6D9;
  height: 98vh;
  overflow-y: hidden;
}

head {
  background-color: #a4c0a7;
  color: #333;
  padding: 1em 0;
  text-align: center;
  height: 10vh;
}

footer {
  background-color: #9b884e;
  color: #FFF;
  text-align: center;
  padding: 1em 0;
  height: 5vh;
}

.image.fit {
  max-height: 200px;
}

.icon.major.accent2 {
  background: #0000FF;
}
