header {
  background-color: #a4c0a7;
  color: #333;
  padding: 1em 0;
  text-align: center;
  height: 10vh;
}

footer {
  background-color: #9b884e;
  color: #FFF;
  text-align: center;
  padding: 1em 0;
  height: 5vh;
}

.icon.major.accent2 {
  background: #0000FF;
}
